##a라는 변수에 숫자 20을 할당하고, b라는 변수에 숫자 30을 할당해 a와 b의 합을 프린트하시오

50

In [ ]:
def num(a,b):
  c=a+b
  return c
num(20,30)

50

##아래의 문장을 변수에 저장하고 저장된 변수에서 인공지능이라는 단어만 프린트하시오

*   안녕하세요 인공지능 수업에 오신것을 환영합니다.

In [ ]:
a="안녕하세요 인공지능 수업에 오신것을 환영합니다."
a[6:10]

'인공지능'

'인공지능'

##특정 문자를 입력받아 변수로 저장하는 방법으로 자신의 이름을 입력후 저장하고, 아래의 문장과 같이 format을 사용해 프린트 하시오

김창균
안녕하세요 김창균님 인공지능 수업에 오신것을 환영합니다.

In [ ]:
a=input()
print(("안녕하세요 {}님 인공지능 수업에 오신것을 환영합니다.").format(a))

전찬웅
안녕하세요 전찬웅님 인공지능 수업에 오신것을 환영합니다.

#아래의 값들을 하나의 리스트에 저장하고, 리스트를 프린트하시오


*   1,5,5,7,3,6,88,12,5,74,4,8,64,2,7,89,33,1,6,8,1,5,6,7

[1, 5, 5, 7, 3, 6, 88, 12, 5, 74, 4, 8, 64, 2, 7, 89, 33, 1, 6, 8, 1, 5, 6, 7]

In [ ]:
a=[1,5,5,7,3,6,88,12,5,74,4,8,64,2,7,89,33,1,6,8,1,5,6,7]
print(a)

[1, 5, 5, 7, 3, 6, 88, 12, 5, 74, 4, 8, 64, 2, 7, 89, 33, 1, 6, 8, 1, 5, 6, 7]

#위에서 저장된 리스트 값중 88에 해당하는 리스트의 위치 index를 도출하시오

6

In [ ]:
a.index(88)

6

##주어진 이름 Jone-30, Park-30, Kim-20, Lee-10, Oh-32, Kang-25을 name이란 리스트를 만들고 Lee를 가진 사람의 성만 따로 도출하시오

'Lee'

In [ ]:
name = ["Jone-30", "Park-30", "Kim-20", "Lee-10", "Oh-32", "Kang-25"]
name[3][:name[3].index("-")]

'Lee'

In [ ]:
name = ["Jone-30", "Park-30", "Kim-20", "Lee-10", "Oh-32", "Kang-25"]
name[3][0:3]

'Lee'

##주어진 이름 Jone-30, Park-30, Kim-20, Lee-10, Oh-32, Kang-25 을 name이란 리스트를 만들고 리스트의 형태를 Jone/30 ....  와 같이 모두 변경하고 프린트하시오

['Jone/30', 'Park/30', 'Kim/20', 'Lee/10', 'Oh/32', 'Kang/25']

In [ ]:
name = ["Jone-30", "Park-30", "Kim-20", "Lee-10", "Oh-32", "Kang-25"]
rename = []
rename.append(name[0].replace("-","/"))
rename.append(name[1].replace("-","/"))
rename.append(name[2].replace("-","/"))
rename.append(name[3].replace("-","/"))
rename.append(name[4].replace("-","/"))
rename.append(name[5].replace("-","/"))
print(rename)

['Jone/30', 'Park/30', 'Kim/20', 'Lee/10', 'Oh/32', 'Kang/25']

In [ ]:
name.replace("-","/")

In [ ]:
name = ["Jone-30", "Park-30", "Kim-20", "Lee-10", "Oh-32", "Kang-25"]
rename = []
for i in name:
  rename.append(i.replace("-","/"))
print(rename)

['Jone/30', 'Park/30', 'Kim/20', 'Lee/10', 'Oh/32', 'Kang/25']

##하나의 폴더에 아래와 같은 형식을 가진 파일들이 있다. 이때 jpg와 png파일만 뽑아 리스트로 프린트하시오 만약에 jpg와 png파일이 아닐 경우 아래와 같이 프린트하시오



*   dog.png, dog2.png, dog3.jpg, test.pdf, file.py, homework.pptx, jpg.pptx, png2.pptx


*   test.pdf은 jpg, png파일에 포함되지 않습니다.

test.pdf은 jpg, png파일에 포함되지 않습니다.
file.py은 jpg, png파일에 포함되지 않습니다.
homework.pptx은 jpg, png파일에 포함되지 않습니다.
jpg.pptx은 jpg, png파일에 포함되지 않습니다.
png2.pptx은 jpg, png파일에 포함되지 않습니다.

In [ ]:
file = ["dog.png", "dog2.png", "dog3.jpg", "test.pdf","file.py", "homework.pptx", "jpg.pptx", "png2.pptx"]

##위의 리스트에서 50보다 큰 숫자들만 뽑아 하나의 리스트에 저장하고 프린트하고 50보다 작은 숫자들은 또다른 리스트에 저장하시오

[88, 74, 64, 89]
[1, 5, 5, 7, 3, 6, 12, 5, 4, 8, 2, 7, 33, 1, 6, 8, 1, 5, 6, 7]

##하나의 빈 리스트를 만들고 아래의 값을 넣었을때 양수이면 빈 리스트에 추가하고 음수이면 이를 무시해 양수만 저장되어 있는 리스트의 값들을 모두 더해 프린트해라(while, if, continue사용)


*   20,50,51,6,74,2,67,-5,-10,-50,-56,-19,55

입력한 숫자의 모든 합은 : 325

##3개의 값을 넣었을때 값들을 모두 제곱해 더한 결과를 도출하는 함수를 만드시오

14

어서오세요 AI 식당입니다.
햄버거: 15000원
피자: 22000원
음료: 2000원
감자튀김: 5000원
구매하고싶은 품목을 선택해주세요 (or done to exit): 감자튀김
------------------------------------------------------------
구매하실 수량을 입력해주세요 : 4
현재 총 구매 금액은 20000원 입니다.
------------------------------------------------------------
구매하고싶은 품목을 선택해주세요 (or done to exit):
------------------------------------------------------------
햄버거: 15000원
피자: 22000원
음료: 2000원
감자튀김: 5000원
구매하고싶은 품목을 선택해주세요 (or done to exit): 음료
------------------------------------------------------------
구매하실 수량을 입력해주세요 : 5
현재 총 구매 금액은 30000원 입니다.
------------------------------------------------------------
구매하고싶은 품목을 선택해주세요 (or done to exit):
------------------------------------------------------------
햄버거: 15000원
피자: 22000원
음료: 2000원
감자튀김: 5000원
구매하고싶은 품목을 선택해주세요 (or done to exit): done
------------------------------------------------------------
귀하의 총 구매금액은 :30000원 입니다.
금액을 투입하세요 : 450000
투입금액은 450000원 이고, 거스름돈은 420000원 입니다.
감사합니다 안녕히 가세요

## 액정 파손 -10000, 카메라 문제 -50000, 터치불량 -10000 이라 할때 핸드폰 가격을 입력했을 때 조건에 따라 가격을 책정해주는 함수를 만드시오

##위의 문제를 함수에 *args를 써서 액정파손, 카메라 문제, 터치불량에 대해 가격을 책정할 수 있게 만드시오

In [ ]:
phone("액정파손","카메라 문제", price=500000)

440000