3월7일 기초,기본

1.변수

In [ ]:
age = 24
name = Chanwoong

In [ ]:
print(age)
print(name)

2.구구단

In [ ]:
x = 1
y = 2
print(x,'x', y, '=' , x*y)
print("구구단 출력. \n")
for x in range(1,10):
    print("------- [" + str(x) + "단] -------")
    print(x,"x", y, "=" , x*y)
for y in range(2,10):
    print(x,"x", y, "=" , x*y)

3.리스트

In [ ]:
exam = list

In [ ]:
list=[60,80,95,69,90,81,80,69,79,66,70,90,96]

In [ ]:
A = 100 >= 90
B = 0 
C = 0 
D = 0 
F = 0

In [ ]:
A=>90
90>B>=80
80>C>=70
70>D>=60
60>F

4.

In [ ]:
i = 1
x = 0
e = i+x
for i in range (1,10):
  print(i + x)
  print ("i의 값:",i,"합계:",e)

5.

In [ ]:
x = 10000
if (x):
  print("구매가능")
else:
  print("구매 불가능")