#특정 문장을 입력했을때, 아래와 같은 결과가 나오게 만드시오(모음 : a, e, i, o, u)
(6줄 이하)

ai class is so much fun
모음의 수는 : 7개

ai class
모음의 수는 :3개

#2000, 2021, 2100, 2024, 1996의 값을 하나의 리스트로 만들고 윤년일 경우와 아닐경우를 아래와 같이 나타내시오 (4로 나누어 떨어지거나, 100으로 나누어 떨어지거나, 400으로 나누어 떨어지는 년도)
(6줄 이하)

2000년도는 윤년입니다.
2021년도는 윤년이 아닙니다.
2100년도는 윤년이 아닙니다.
2024년도는 윤년입니다.
1996년도는 윤년입니다.

In [ ]:
year = [2000,2021,2100,2024,1996]
for i in year:
  if

#아래와 같은 코드를 작성하시오 
(6줄 이하)

정수를 입력하세요 : 5
정수를 입력하세요 : 20
정수를 입력하세요 : 31
정수를 입력하세요 : 50
정수를 입력하세요 : 100
정수를 입력하세요 : 70
정수를 입력하세요 : 80
정수를 입력하세요 : 90
정수를 입력하세요 : 22
정수를 입력하세요 : 447
5의 배수의 리스트는 : [5, 20, 50, 100, 70, 80, 90] 입니다.

In [ ]:
five = []
for i in range(10):
  a = int(input("정수를 입력하세요 :"))
  if a % 5 == 0:
    five.append(a)
  else:
    continue
print(("5의 배수의 리스트는 : {} 입니다.").format(five))

정수를 입력하세요 :5
정수를 입력하세요 :20
정수를 입력하세요 :31
정수를 입력하세요 :50
정수를 입력하세요 :100
정수를 입력하세요 :70
정수를 입력하세요 :80
정수를 입력하세요 :90
정수를 입력하세요 :22
정수를 입력하세요 :447
5의 배수의 리스트는 : [5, 20, 50, 100, 70, 80, 90] 입니다.

#리스트에 라면, 3000, 생수, 2500, 과자,1500, 삼각김밥, 1000을 저장하고 아래와 같이 나타내시오
(10줄 이하) for문 if문 무조껀 사용

['라면', '생수', '과자', '삼각김밥']
[3000, 2500, 1500, 1000]

In [ ]:
food = ["라면","3000","생수","2500","과자","1500","삼각김밥","1000"]
item = []
money = []
for i in food:
  if  % 2 == 1:
    item.append(i)
  else:
    money.append(i)
print(item)
print(money)

SyntaxError: ignored

##1번의 딕셔너리 값을 2번 값으로 변경하시오
단 새로운 딕셔너리를 만들어서 변경할순없다.

{'name': 'John', 'age': 20, 'grade': 'A'}

{'name': 'John', 'age': 21, 'city': 'New York'}