In [ ]:
a={"메로나" : "2000원", "쌍쌍바" : "1000원", "수박바" : "1500원"}
for i, j in a.items():
  print(i,j)

메로나 2000원
쌍쌍바 1000원
수박바 1500원

In [ ]:
for i in a.values():
  print(i)

2000원
1000원
1500원

In [ ]:
for i in a.keys():
  print(i)

메로나
쌍쌍바
수박바

In [ ]:
print(a.keys())

dict_keys(['메로나', '쌍쌍바', '수박바'])

for : 횟수를 반복한다(정해준 구간)
2>1 TRUE
5<4 Fulse

if 조건:
  특정명령 1

else:
  특정명령 2

In [ ]:
a=50
b=20
if b>9:
  print(a)
else:
  print("X")

50

In [ ]:
a=10
b=20
if a>=10:
  print("1등급")
elif a>=8 or b<10:
  print("2등급")
else:
  print("error")

1등급

In [ ]:
a=input()
if "k" in a:
  print("포함")
else:
  print("미포함")

korea
포함

for : 특정범위 내에서 반복
if : 특정조건을 만족하면 실행
while : 특정조건을 만족하면 반복

In [ ]:
while True:
  print("/|")

In [ ]:
i=0
while i<100:
  i=i+2
  print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

if 
break는 조건 반복문을 종료시킨다
if continue는 해당 조건을 생략하고 이어간다.

In [ ]:
i=0
while i <100:
  i=i+2
  if i%3==0:
    break
  print(i)

2
4

In [ ]:
i=0
while i <100:
  i=i+2
  if i%3==0:
    continue
  print(i)

2
4
8
10
14
16
20
22
26
28
32
34
38
40
44
46
50
52
56
58
62
64
68
70
74
76
80
82
86
88
92
94
98
100