## 100m 달리기 아래는 달리기 성적 기록이다. 이때 9초 이상 11초 미만 합격, 11초 이상 13초 미만 재시험, 13초 초과 불합격을 프린트하시오

* input을 활용해 만들기
* 9, 10, 11, 12, 15, 25, 13, 12, 9.5, 10.6, 11.2, 9.5

In [ ]:
a=float(input())

if a>=9 and a<11:
  print("합격")
elif a>=11 and a<13:
  print("재시험")
elif a>13:
  print("불합격")
else:
  print("시간을 입력해주세요")

10
합격

In [ ]:
a=[]
for i in range(12):
  b=float(input())
  a.append(b)
  if a[i]>=9 and a[i]<11:
    print("합격")
  elif a[i]>=11 and a[i]<13:
    print("재시험")
  elif a[i]>13:
    print("불합격")
  else:
    print("시간을 입력해주세요")

9
합격
10
합격
11
재시험
12
재시험
15
불합격
25
불합격
13
잘못된 수
12
재시험
9.5
합격
10.6
합격
11.2
재시험
9.5
합격

In [ ]:
a=[9, 10, 11, 12, 15, 25, 13, 12, 9.5, 10.6, 11.2, 9.5]
for i in a:
  if i>=9 and i<11:
    print("합격")
  elif i>=11 and i<13:
    print("재시험")
  elif i>13:
    print("불합격")
  else:
    print("시간을 입력해주세요")

합격
합격
재시험
재시험
불합격
불합격
잘못된 수
재시험
합격
합격
재시험
합격

합격
합격
재시험
재시험
불합격
불합격
시간을 입력해주세요
재시험
합격
합격
재시험
합격

##짜장면 : 10,000원, 짬뽕 : 11,000원, 탕수육 22,000원, 볶음밥 : 9,000원을 딕셔너리 형태로 저장하고 메뉴 이름과 금액을 각각 다른 리스트에 저장해 두 개의 리스트로 만들어서 프린트하시오(for 문 사용)

In [ ]:
food = {"짜장면" : "10,000원","짬뽕" : "11,000원","탕수육" : "22,000원","볶음밥" : "9,000"}
name = []
list2 = []
for i in food.values():
  print(i)
for i in food.keys():
  print(i)

10,000원
11,000원
22,000원
9,000
짜장면
짬뽕
탕수육
볶음밥

##10명의 학생이 있다 각 학생들은 중국집에서 한가지 메뉴를 주문 할 수 있다. 이때 위에서 만든 메뉴판을 활용해 각각 학생들이 한가지 메뉴를 입력하게 하고 메뉴들의 총 합을 더해서 프린트하시오(리스트를 활용해 문제해결)

In [ ]:
total = []
for i in range(1,11):
  c=input(("{}번째 학생의 주문 : ").format(i))
  if c=="짜장면":
    total.append(name[0])
  elif c=="짬뽕":
    total.append(name[1])
  elif c=="탕수육":
    total.append(name[2])
  elif c=="볶음밥":
    total.append(name[3])
  else:
    print("잘못된 값입니다.")

1번째 학생의 주문 : 짬뽕

IndexError: ignored

##10명의 학생이 있다 각 학생들은 중국집에서 한가지 메뉴를 주문 할 수 있다. 이때 위에서 만든 메뉴판을 활용해 각각 학생들이 한가지 메뉴를 입력하게 하고 메뉴들의 총 합을 더해서 프린트하시오(딕셔러니를 활용해 문제 해결)

##while문을 사용해 1부터 10까지 프린트 하시오


*   i+=1 이 의미는 i에 +1을 해서 이것을 다시 i에 저장해준다는 뜻

1
2
3
4
5
6
7
8
9
10

##while문을 사용해 1부터 10까지 프린트 하시오 이때 i가 3의 배수이면 while문을 멈춰주세요

1
2

##while문을 사용해 1부터 10까지 프린트 하시오 이때 i가 3의 배수가 아닌값만 프린트 하시오

1
2
4
5
7
8
10

##리스트에 라면, 3000, 생수, 2500, 과자,1500, 삼각김밥, 1000을 저장하고 리스트에서 메뉴명과 금액을 각각 따로 빼서 menu, money의 이름을 가지는 리스트로 각각 만드시오

['라면', '생수', '과자', '삼각김밥']
[3000, 2500, 1500, 1000]

##while, for, if문을 활용해 아래와 같은 결과가 나오도록 만드시오

라면: 3000원
생수: 2500원
과자: 1500원
삼각김밥: 1000원
구매하고 싶은 품목을 선택하세요 : 라면
라면의 가격은 3000원 입니다.
**************************************************
라면: 3000원
생수: 2500원
과자: 1500원
삼각김밥: 1000원
구매하고 싶은 품목을 선택하세요 : 삼각김밥
삼각김밥의 가격은 1000원 입니다.
**************************************************
라면: 3000원
생수: 2500원
과자: 1500원
삼각김밥: 1000원
구매하고 싶은 품목을 선택하세요 : 과자
과자의 가격은 1500원 입니다.
**************************************************
라면: 3000원
생수: 2500원
과자: 1500원
삼각김밥: 1000원
구매하고 싶은 품목을 선택하세요 : 생수
생수의 가격은 2500원 입니다.
**************************************************
라면: 3000원
생수: 2500원
과자: 1500원
삼각김밥: 1000원
구매하고 싶은 품목을 선택하세요 : done
총 금액은 8000원 입니다.

In [ ]:
food = ["라면", 3000,"생수",2500,"과자" ,1500,"삼각김밥",1000]
manu=[]
money=[]
j=0
for i in food:
  if (j % 2 ==0):
    manu.append(i)
  else:
    money.append(i)
  j+=1
print(manu)
print(money)

['라면', '생수', '과자', '삼각김밥']
[3000, 2500, 1500, 1000]

In [ ]:
sum =0
while True:
  for i,j in zip(manu,money):
    print(f"{i}:{j}원")
  A=input("구매하고 싶은 품목을 선택하세요:")
  if A=="done":
    break
  print(f"{A}의 가격은 {money[manu.index(A)]}원입니다.")
  print("**************************************************")
  sum += money[manu.index(A)]
print(f"총금액은 {sum}원 입니다.")

라면:3000원
생수:2500원
과자:1500원
삼각김밥:1000원
구매하고 싶은 품목을 선택하세요:라면
라면의 가격은 3000원입니다.
**************************************************
라면:3000원
생수:2500원
과자:1500원
삼각김밥:1000원
구매하고 싶은 품목을 선택하세요:삼각김밥
삼각김밥의 가격은 1000원입니다.
**************************************************
라면:3000원
생수:2500원
과자:1500원
삼각김밥:1000원
구매하고 싶은 품목을 선택하세요:done
총금액은 4000원 입니다.